.container-fluid{
    padding: 3% 15%;
}

#apple-logo{
    width: 15px;
    margin: 5px;

}

.btn{
    text-align: center;
}

#logo{
    color: aliceblue;
}

#title{
    background-color: #ff4c68;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}